<div class="profile">
  <form [formGroup]="themeForm">
    <div class="avatar">
      <img
        src="https://images.pexels.com/photos/771742/pexels-photo-771742.jpeg"
        alt="profile-picture"
        [style]="currentThemeStyles.avatar"
      >
      <div [formGroupName]="'avatar'" *ngIf="isEditMode">
        <select [formControlName]="'border_radius'">
          <option value="0%">square</option>
          <option value="50%">circle</option>
        </select>
      </div>
    </div>
    <div class="name margin-bottom" [style]="currentThemeStyles.name">
      <p>Nick Gerard</p>
      <div [formGroupName]="'name'" *ngIf="isEditMode">
        <input [formControlName]="'color'" type="color">
      </div>
    </div>
    <div class="bio margin-bottom" [style]="currentThemeStyles.bio">
      <p>Building Norby</p>
      <div [formGroupName]="'bio'" *ngIf="isEditMode">
        <input [formControlName]="'color'" type="color">
      </div>
    </div>
    <div class="links margin-bottom">
      <a href="http://google.com" target="_blank" [style]="currentThemeStyles.links">Icon</a>

      <div [formGroupName]="'links'" *ngIf="isEditMode">
        border radius - <input [formControlName]="'border_radius'" type="number" min="0">
        background color - <input [formControlName]="'background'" type="color">
        color - <input [formControlName]="'color'" type="color">
      </div>
    </div>
  </form>
  <button (click)="handleClickEdit()" *ngIf="!isEditMode">Edit</button>
  <button (click)="handleClickCancel()" *ngIf="isEditMode">Cancel</button>
  <button (click)="handleClickSave()" *ngIf="isEditMode">Save</button>
</div>
